<!DOCTYPE html>

<html>
    <head>
        <title>Angular demo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/demo.css">
    </head>
    <body>
        <!--Implementing bootstrap page header-->
        <div class="page-header">
            <h1>CLICK LABS<small>Employee Details</small></h1>
        </div>

        <!--Initializing div for Angular Application-->
        <div ng-app="" ng-controller="EmployeesController"> 

            <!--Text boxes for filtering-->
            <div id='txt-box'>
                <input type="text" placeholder="Filter by Name" ng-model="filter.name" >
                <input type="text" placeholder="Filter by Age" ng-model="filter.age" >
                <input type="text" placeholder="Filter by Gender" ng-model="filter.gender">
                <input type="text" placeholder="Filter by Salary" ng-model="filter.salary">
                <input type="text" placeholder="Filter by Country" ng-model="filter.country">
            </div>

            <!--Implementing Bootstrap table-->
            <table class="table table-hover table-bordered ng-cloak" ng-cloak >

                <thead id='table-head'>
                <th>Name
                    <a href="#" ng-click="orderByField = 'name';
                                reverseSort = !reverseSort" >
                        <img src="images/br_down.png" alt="click to sort" ng-show="!reverseSort"> 
                        <img src="images/arrow-up.png" alt="click to sort" ng-show="reverseSort" >
                    </a>
                </th>
                <th>Age
                    <a href="#" ng-click="orderByField = 'age';
                                reverseSort = !reverseSort" >
                        <img src="images/br_down.png" alt="click to sort" ng-show="!reverseSort"> 
                        <img src="images/arrow-up.png" alt="click to sort" ng-show="reverseSort">
                    </a>
                </th>
                <th>Gender
                    <a href="#" ng-click="orderByField = 'gender';
                                reverseSort = !reverseSort">
                        <img src="images/br_down.png" alt="click to sort" ng-show="!reverseSort"> 
                        <img src="images/arrow-up.png" alt="click to sort" ng-show="reverseSort">
                    </a>
                </th>
                <th>Salary
                    <a href="#" ng-click="orderByField = 'salary';
                                reverseSort = !reverseSort">
                        <img src="images/br_down.png" alt="click to sort" ng-show="!reverseSort"> 
                        <img src="images/arrow-up.png" alt="click to sort" ng-show="reverseSort">
                    </a>
                </th>
                <th>Country
                    <a href="#" ng-click="orderByField = 'country';
                                reverseSort = !reverseSort" >
                        <img src="images/br_down.png" alt="click to sort" ng-show="!reverseSort"> 
                        <img src="images/arrow-up.png" alt="click to sort" ng-show="reverseSort">
                    </a>
                </th>
                </thead>

                <tbody>
                    <tr ng-repeat="p in employees| filter:filter |orderBy:orderByField:reverseSort" >
                        <td>
                            {{p.name}}
                        </td>
                        <td>
                            {{p.age}}
                        </td>
                        <td>
                            {{p.gender}}
                        </td>
                        <td>
                            {{p.salary| currency}}
                        </td>
                        <td>
                            {{p.country}}
                        </td>
                    </tr>
                </tbody>
            </table>         
        </div>

        <!--Java-scripts-->
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="controllers/employeesController.js"></script>

    </body>
</html>