
body {
    background-image: url(../images/bckgrnd-img.jpg);
}

/*formatting of table*/
.table {
    background-color: whitesmoke;
    border-color: lightslategray;
    border-width: 4px;
    margin: 0 auto;
    width: 80%;  
}

#table-head {
    background-color: darkslategray;
    color: white;
}

.table-hover tbody tr:hover {
    background: lightgray;
}

/*formatting of text box used for filtering*/
#txt-box {
    margin: 0 auto;
    width: 80%;
}

#txt-box input {
    background-color: whitesmoke;
    border-radius: 5px;
    height: 30px;
    margin: 25px auto 10px auto;
    width: 19.5%;   
}

/*Formatting of page header*/
.page-header {
    margin: 30px auto 20px auto;
    width: 35%;
}

/*for hiding the table until application is fully loaded and ng-cloak is encountered*/
[ng\:cloak], 
[ng-cloak], 
[data-ng-cloak], 
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}